<!doctype html>

<head>
    <title>sample_lambda_app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- sample lambda stylesheet -->
    <link href="/static/css/sample_lambda_style.css" rel="stylesheet">
</head>

<body>
    <div class="container toppy">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="margin-base-vertical text-center">The target heart rate range calculator!</h1>
                <p class="input-group">
                    <span class="input-group-addon">
                        <label>Name:</label>
                    </span>
                        <input type="text" id="name" class="form-control input-lg" name="name" placeholder="Enter your name here" required="required" />
                </p>
                <p class="input-group">
                    <span class="input-group-addon">
                        <label>Age:</label>
                    </span>
                        <input type="text" id="age" class="form-control input-lg" name="age" placeholder="Enter your age here" required="required">
                </p>
                <p class="text-center top-space-40">
                    <button type="submit" class="btn btn-success btn-lg" id="range">Calculate THR Range!</button>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <p class="text-center top-space-20" id="resultDiv">
                </p>
            </div>
        </div>
    </div>

    <script>
        $("document").ready(function () {
            $("#range").click(function () {
                var name = $('#name').val();
                var age = $('#age').val();
                var letters = /^[a-zA-Z ]*$/;
                if (name == '')
                { $("#name").css('border', 'solid 2px red');
                    $("#resultDiv").text('Please enter your name')
                    $("#resultDiv").css('color', 'red'); }
                else if (!(letters.test(name)))
                { $("#name").css('border', 'solid 2px red');
                    $("#resultDiv").text('Please enter only characters')
                    $("#resultDiv").css('color', 'red'); }
                else {
                    $("#name").css('border', 'solid 1px #ccc');
                    var callDetails = {
                        type: 'POST',
                        url: '/calculate_heartrate_range',
                        data: {
                            'name': name
                        }
                    };
                }
                if (((name != '') &&  (letters.test(name))) && (age != parseInt(age, 10)))
                { $("#age").css('border', 'solid 2px red');
                    $("#resultDiv").text('Please enter your age')
                    $("#resultDiv").css('color', 'red'); }
                else {
                    $("#age").css('border', 'solid 1px #ccc');
                    var callDetails = {
                        type: 'POST',
                        url: '/calculate_heartrate_range',
                        data: {
                            'age': age
                        }
                    };
                    }
                $.ajax(callDetails).done(function (calculate_heartrate_range) {
                    if (name != '' && (letters.test(name)) && age != ''){
                        $("#resultDiv").css('color', 'black');
                        $("#resultDiv").text(''+ name.charAt(0).toUpperCase() + name.slice(1) + ', you should maintain your target heart rate between ' + calculate_heartrate_range['low'] + ' and ' + calculate_heartrate_range['high'] + ' during exercise. Aim to be at your target heart rate for at least 15 to 20 minutes.');
                    }
                });
            });
        });
    </script>
</body>

</html>